p {
  font-size:x-large;
  text-align: justify;
}

.card-text{
  font-size: 15px;
}

.c-item{
  height: 640px;
  text-align: center;
  vertical-align: middle;
}

.c-img{
  height: 100%;
  object-fit: cover;
}

.card:hover{
  transform: scale(1.10);
}

.card{
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.5s;
}

img {
  width:100%;
}

h1{
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

h5{
  font-size: 25px;
  font-weight: bold;
}

body{
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0px;
}

#image {
  max-width: 20%;
  height: auto;
}

#error{
  color: red;
}


#bootstrap-overrides #flagquizimage {
  width: 70px;
  height: 10rem;
}

#bootstrap-overrides #nextPage{
  width: 100px;
}
