img {
  max-width: 20%;
  height: auto;
}

p {
  font-size:x-large;
  line-height: 3px;
}

body{
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}

#nextPage{
  width: 100px;
}

#error{
  color: red;
}

li {
  list-style: none;
}
ul {
  padding-inline-start: 0px;
}