
p {
  font-size:x-large;
  text-align: justify;
}

.card-text{
  font-size: 15px;
}

.c-item{
  height: 640px;
  text-align: center;
  vertical-align: middle;
}

.c-img{
  height: 100%;
  object-fit: cover;
}

.card:hover{
  transform: scale(1.10);
}

.card{
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.5s;
}

img {
  width:100%;
  border: 10px;
  border-color: black;
}

.h1-slide{
  text-align: center;
  font-weight: 900;
  margin-bottom: 0;
  font-size: 45px;
  text-shadow: 3px 3px 4px white; 
  color: rgb(0, 0, 0); 
}

.p-slide{
  font-size: 28px; 
  text-align: center;
  font-weight: 900;
  text-shadow: 1px 1px 2px white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  color: rgb(0, 0, 0); 
}

.city{
  color: black;
  text-shadow:
    0 0 7px rgb(177, 255, 229),
    0 0 10px rgb(101, 255, 204),
    0 0 21px rgb(110, 255, 207),
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

h5{
  font-size: 25px;
  font-weight: bold;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0px;
}

#image {
  max-width: 20%;
  height: auto;
}

#error{
  color: red;
}

#bootstrap-overrides #flagquizimage {
  width: 70px;
  height: 10rem;
}

#bootstrap-overrides #nextPage{
  width: 100px;
}
