p {
  font-size:x-large;
  line-height: 30px;
  text-align: justify;
}

img {
  width:100%;
}
.container {
  max-width:100%;
  width: 100%;
}
.col-md-3{
  width:100%;
  float:left;
  margin:0;
}

h1{
  font-weight: bold;
}

h5{
  font-size: 25px;
  font-weight: bold;
}

body{
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0px;
}

#image {
  max-width: 20%;
  height: auto;
}

#error{
  color: red;
}

.card-group {
  width: 18rem;
  height: 23rem;
}

#bootstrap-overrides #flagquizimage {
  width: 70px;
  height: 10rem;
}

#bootstrap-overrides #nextPage{
  width: 100px;
}
